<script>
import DashboardLine from '@/assets/svg/DashboardLine.vue';
import MapLine from '@/assets/svg/MapLine.vue';
import RidingLine from '@/assets/svg/RidingLine.vue';

export default {
  name:"LeftMenu",
  inject: ["$store"],
  components:{
    DashboardLine,
    MapLine,
    RidingLine
  },
  computed: {
    livedataStore: function() { return this.$store.getStoreByName('livedata') },
    currentView: function() { return this.livedataStore.currentView },
  },
  methods: {
    /**
     * Go to the view name and updates livedata store current view attribute
     * @param {*} routerName 
     */
    goTo: function(routerName) {
      this.$router.push({
        name: routerName
      })
      this.livedataStore.setViewName(routerName)
    },
    isActive: function(name) {
      if(name == this.currentView)
        return 'active'
    }
  }
}
</script>

<template>
  <aside>
    <h2 class="title" @click="goTo('dashboard')">Velibs itinerary</h2>
    <nav>
      <ul class="menu">
        <li 
          :class="['menu-item', isActive('dashboard')]" 
          @click="goTo('dashboard')"
        >
          <a>
            <DashboardLine />
            Overview
          </a>
        </li>
        <li 
          :class="['menu-item', isActive('itinerary')]" 
          @click="goTo('itinerary')"
        >
          <a>
            <MapLine />
            Itinerary
          </a>
        </li>
        <li 
          :class="['menu-item', isActive('stations')]" 
          @click="goTo('stations')"
        >
          <a>
            <RidingLine />
            Stations
          </a>
        </li>
      </ul>
    </nav>
    <span class="made-by">Made by groupe E</span>
  </aside>
</template>

<style scoped src="@/assets/css/menu/leftmenu.css" />