aside {
    flex-basis: 12%;
    border-right: var(--border);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    position: sticky;
    height: 100vh;
    top: 0;
}

aside > .title {
    flex-basis: 10%;
    color: var(--primary-color);
    font-size: 22px;
    user-select: none;
    cursor: pointer;
}

aside > nav {
    flex-grow: 1;
    width: 100%;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.menu-item {
    padding: 1rem;
}

.menu-item > a {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu-item:hover a,
li.active a {
    color: var(--primary-color);
    cursor: pointer;
}

.menu-item:hover :deep(svg),
li.active a :deep(svg) {
    fill: var(--primary-color);
}

.menu-item :deep(svg) {
    width: 25px;
}

.made-by {
    color: #a9a;
    font-size: 10px;
}

.active {
    border-left: 5px solid var(--primary-color);
    background-color: #1389e917;
    width: 100%;
}
