<script>
import DataTable from 'datatables.net-vue3';
import DataTablesCore from 'datatables.net';
import 'datatables.net-responsive';

DataTable.use(DataTablesCore);

import { h, render } from 'vue'
import BButton from '../base/components/others/BButton.vue';

import DeleteBin from '@/assets/svg/DeleteBin.vue';
import PdfFile from '@/assets/svg/PdfFile.vue';
import PencielEdit from '@/assets/svg/PencielEdit.vue';

export default {
  name: "DashboardView",
  inject: ["$store", "$pdf"],
  components: { DataTable },
  data: function () {
    return {
      data: [],
      canDisplay: false
    }
  },
  computed: {
    itineraryStore: function () {
      return this.$store.getStoreByName("itinerary")
    },
    itineraryResults: function () {
      return this.itineraryStore.results
    },
    itineraryResultsRaw: function () {
      return this.itineraryStore.resultsRaw
    },
    tableOptions() {
      const renderButton = this.renderButton();

      return {
        columns: [
          { title: 'Index' },
          { title: 'Name' },
          { title: 'PDF Name' },
          { title: 'From' },
          { title: 'To' },
          { title: '', data: null, render: () => renderButton }
        ],
        rowCallback: (e) => {
          const pdfBtn = e.querySelector(".itinerary-pdf")
          if (pdfBtn) pdfBtn.removeEventListener('click', this.onShowPDF)
          if (pdfBtn) pdfBtn.addEventListener("click", this.onShowPDF)

          const editBtn = e.querySelector(".itinerary-edit")
          if (editBtn) editBtn.removeEventListener('click', this.onEdit)
          if (editBtn) editBtn.addEventListener("click", this.onEdit)

          const deleteBtn = e.querySelector(".itinerary-delete")
          if (deleteBtn) deleteBtn.removeEventListener('click', this.onDelete)
          if (deleteBtn) deleteBtn.addEventListener("click", this.onDelete)
        },
        order: [[0, 'desc']],
        scrollY: "70vh",
        pageLength: "25"
      };
    }
  },
  mounted: function () {
    // Creates data for dataTable
    this.loadData()
  },
  beforeUnmount: function () {
    // need to remove element
    this.$el.remove()
  },
  watch: {
    itineraryResultsRaw() {
      this.canDisplay = false
      this.loadData()
    }
  },
  methods: {
    loadData: function() {
      this.data = []

      this.itineraryResults.forEach((record, index) => {
        // set the document id here
        this.data.push([
          `<div data-itinerary-id="${record.id}" data-pdf-id="${record.document.id}">${index + 1}</div>`,
          record.name,
          record.document.name + '.pdf',
          record.waypoints[0].name,
          record.waypoints[record.waypoints.length - 1].name,
        ]);
      })
      this.canDisplay = true
    },
    renderButton() {
      const editContainer = document.createElement('div');
      const globalStyle = 'padding: inherit; margin: inherit; height: inherit; background-color: inherit;'

      const editBtn = h(BButton, {
          class: "itinerary-edit",
          style: globalStyle,
        },
        {
          withIcons: () => h(PencielEdit, {
            style: "fill: orange"
          }),
        }
      );
      render(editBtn, editContainer);

      const deleteContainer = document.createElement('div');
      const deleteBtn = h(BButton, {
        class: "itinerary-delete",
        style: globalStyle,
      },
      {
          withIcons: () => h(DeleteBin, {
            style: "fill: red"
          }),
      });
      render(deleteBtn, deleteContainer);

      const pdfContainer = document.createElement('div');
      const pdfBtn = h(BButton, {
        class: "itinerary-pdf",
        style: globalStyle,
      },
      {
          withIcons: () => h(PdfFile, {
            style: "fill: blue"
          }),
      });
      render(pdfBtn, pdfContainer);

      // return html
      return `
        <div style="display:flex;">${editContainer.innerHTML + deleteContainer.innerHTML + pdfContainer.innerHTML}</div>
      `;
    },
    onShowPDF: function (e) {
      // get parent node
      const trParentEl = e.srcElement.closest("tr")
      // get pdf id through the parent
      const pdfId = trParentEl.querySelector(`[data-pdf-id]`).dataset['pdfId'];

      // add arraybuffer to get blob from the request
      const axiosInstance = this.$pdf.itineraryDownload.setOptions(
        { responseType: 'arraybuffer' }
      )
      // Get the document
      axiosInstance.post({
        "token": localStorage.getItem("apiToken"),
        "id": pdfId
      })
        .then((res) => {

          const url = window.URL.createObjectURL(
            new Blob([res.data], { type: 'application/pdf' })
          );
          // Open the pdf in new url
          window.open(url, "_blank")

        })
        .catch((error) => {
          console.debug("error", error);
        })
    },
    onEdit: function (e) {
      const trParentEl = e.srcElement.closest("tr")
      const itineraryId = trParentEl.querySelector(`[data-itinerary-id]`).dataset['itineraryId'];
      this.$router.push({
        name: 'itinerary_edit',
        params: {
          index: itineraryId
        }
      })
    },
    onDelete: function (e) {
      const trParentEl = e.srcElement.closest("tr")
      const itineraryId = trParentEl.querySelector(`[data-itinerary-id]`).dataset['itineraryId'];
      this.$pdf.itinerary.delete(itineraryId, { "token": localStorage.getItem("apiToken") })
        .then(async () => {
          // do research of itineraries
          await this.itineraryStore.search()
        })
        .catch((error) => {
          console.debug(error)
        });
    }
  }
}
</script>

<template>
  <section>
    <DataTable
      v-if="canDisplay"
      :data="data" 
      class="table table-hover table-striped" 
      width="100%" 
      :options="tableOptions" 
    />
  </section>
</template>

<style src="datatables.net-dt/css/jquery.dataTables.css"></style>
<style src="datatables.net-responsive-dt/css/responsive.dataTables.css"></style>
<style scoped>
.itinerary-edit:hover :deep(svg),
.itinerary-delete:hover > svg,
.itinerary-pdf:hover > svg {
  fill: black !important;
}
</style>