<script>

import {Leafmap} from "@/services/leaflet/Leafmap";

export default {
  name: "ItineraryView",
  inject: ['$store', '$pdf'],
  computed: {
    userStore: function () {
      return this.$store.getStoreByName('user')
    },
    itineraryStore: function () {
      return this.$store.getStoreByName('itinerary')
    }
  },
  data() {
    return {
      user: null,
      date: new Date().toDateString(),
      map: null,
      payload: {
        itynerary_name: ''
      },
      errors: {}
    }
  },
  mounted() {
    this.user = this.userStore.user.username;

    this.map = new Leafmap('map', {
      onUserAction: (leafmap) => {
        let btn = document.getElementById('itinerary_btn');

        if (
          leafmap.getItinerarySteps().length <= 1 ||
          leafmap.getData() === null
        ) {
          btn.classList.add('d-none');
        } else {
          btn.classList.remove('d-none');
        }
      }
    })
  },
  methods: {
    createItinerary() {
      this.errors = {};

      let itinerary_name = this.payload.itynerary_name;

      if (itinerary_name.trim() === '') {
        this.errors.itinerary_name = 'Invalid value';
        return;
      }

      let data = {
        ...this.map.getData(),
        name: this.payload.itynerary_name,
        token: localStorage.getItem('apiToken')
      }

      this.$pdf.itinerary.create(data)
        .then(async () => {
          // do research of itineraries
          await this.itineraryStore.search()
          // push to home
          this.$router.push({
            name: "dashboard"
          })
        })
        .catch((error) => {
          console.debug(error)
        });
    }
  }
}
</script>

<template>
  <div class="row map-template">
    <div class="col-5">
      <h2>Map</h2>
      <br>
      <div id="map" class="map-size"></div>
    </div>

    <div class="col-3">
      <b-form>
        <template #form>
          <h2>Travel informations</h2>
          <br>
          <p>Start :
            <span id="ui_from_destination"></span>
          </p>
          <p>End :
            <span id="ui_to_destination"></span>
          </p>
          <br>
          <p>User : {{ user }}</p>
          <p>Date : {{ date }}</p>
          <br>
          <b-input
            v-model="payload.itynerary_name"
            field-type="text"
            :max-length="30"
            :min-length="2"
            :errors="errors && errors.itinerary_name"
            name="itinerary_name"
            label="Travel name"
            required
          />
          <br>
          <img id="ui_image_travel" src="" class="img-100 d-none" alt="itinerary image">
          <div id="ui_total_travel"></div>
          <br>
          <b-button
            id="itinerary_btn"
            label="Add itinerary"
            type="submit"
            @click="createItinerary()"
            class="d-none"
          />
        </template>
      </b-form>
    </div>

    <div class="col-3">
      <h2>Steps</h2>
      <table id="ui_table_steps">
        <tbody></tbody>
      </table>
    </div>
  </div>
</template>

<style scoped>

.map-template > div[class^='col-'] {
  max-height: 800px;
  overflow-y: auto;
  margin-left: 10px;
  margin-right: 10px;
}

.d-none {
  display: none;
}

.map-size {
  width: 100%;
  height: 700px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

:deep(.leaflet-top.leaflet-right) {
  display: none !important;
}

:deep(svg) {
  width: inherit !important;
}

input.invalid {
  border: 1px red solid;
}
</style>

<style src="leaflet/dist/leaflet.css"></style>
<style src="leaflet.markercluster/dist/MarkerCluster.Default.css"></style>
<style src="leaflet-control-geocoder/dist/Control.Geocoder.css"></style>
<style src="leaflet-routing-machine/dist/leaflet-routing-machine.css"></style>
<style src="@/assets/css/leaflet/Leaflet.BigImage.min.css"></style>