<script>
export default {
  name: "LogxView",
  inject: ["$api", "$store"],
  computed: {
    userStore: function () {
      return this.$store.getStoreByName('user')
    },
  },
  data: function () {
    return {
      payload: {
        username: '',
        password: '',
        password2: '',
      },
      errors: {},
      isLogInForm: true
    }
  },
  methods: {
    /**
     * Switch to login or register form
     */
    changeForm: function () {
      this.isLogInForm = !this.isLogInForm
      // reset
      this.errors = {}
    },
    handleLogIn: function () {
      this.errors = {}
      this.userStore.tryLogin({
        "username": this.payload.username,
        "password": this.payload.password
      }).then((response) => {
        if (response.status !== 200) {
          this.errors.global = response.data.message
        }
      })
    },
    passwordMinStrengh(string) {
      const lowerRegex = '[a-z]';
      return string.match(lowerRegex) !== null;
    },
    passwordMaxStrengh(string) {
      const upperRegex = '[A-Z]';
      return string.match(upperRegex) !== null;
    },
    passwordNumberStrengh(string) {
      const numberRegex = '[0-9]';
      return string.match(numberRegex) !== null;
    },
    passwordSpecialStrengh(string) {
      const specialRegex = '[#?!@$%^&*-]';
      return string.match(specialRegex) !== null;
    },
    passwordLengthStrengh(string) {
      return string.length < 12;
    },
    handleRegister: function () {
      this.errors = {}
      let username = this.payload.username.trim();
      let password = this.payload.password.trim();
      let password2 = this.payload.password2.trim();

      if (username !== '' && username.length < 6) {
        this.errors.username = 'Username need minimum 6 characters';
        return;
      }

      if (password !== '' || password2 !== '') {
        if (password !== password2) {
          this.errors.password = 'Passwords not match';
          return;
        }
        if (!this.passwordMinStrengh(password)) {
          this.errors.password = 'Password need a lowercase character';
          return;
        }
        if (!this.passwordMaxStrengh(password)) {
          this.errors.password = 'Password need an uppercase character';
          return;
        }
        if (!this.passwordNumberStrengh(password)) {
          this.errors.password = 'Password need a number character';
          return;
        }
        if (!this.passwordSpecialStrengh(password)) {
          this.errors.password = 'Password need a special character';
          return;
        }
        if (!this.passwordLengthStrengh(password)) {
          this.errors.password = 'Password need at least 8-30 characters';
          return;
        }
      }

      this.$api.auth.register({
        "username": username,
        "password": password
      })
        .then(async (response) => {
          // set the token into localStorage
          await localStorage.setItem("apiToken", response.data.token);
          // log the user
          this.userStore.checkAuth();
        })
        .catch((error) => {
          console.log("error", error);
          if (error.response.status !== 200) {
            this.errors.global = error.response.data.message
          }
        })
    }
  }
}
</script>

<template>
  <div class="logx-container">
    <h1 class="title">Velibs itinerary</h1>
    <p
      v-if="errors && errors.global"
      class="error"
    >
      {{ errors.global }}
    </p>
    <template v-if="isLogInForm">
      <section class="form">
        <b-form>
          <template #form>
            <b-input
              v-model="payload.username"
              field-type="text"
              :max-length="30"
              name="Username"
              label="Username"
              required
            />
            <b-input
              v-model="payload.password"
              field-type="password"
              :max-length="50"
              name="password"
              label="Password"
              required
              @keypress.enter="handleLogIn()"
            />
            <b-button
              class="is-success"
              label="Log in"
              type="submit"
              @click="handleLogIn()"
            />
          </template>
        </b-form>
      </section>
      <a
        @click="changeForm()"
      >
        Don't have an account yet ? Sign Up
      </a>
    </template>
    <template v-else>
      <section class="form create">
        <b-form>
          <template #form>
            <b-input
              v-model="payload.username"
              field-type="text"
              :max-length="30"
              name="Username"
              label="Username"
              :errors="errors && errors.username"
              required
            />
            <b-input
              v-model="payload.password"
              field-type="password"
              :max-length="50"
              name="password"
              label="Password"
              :errors="errors && errors.password"
              required
            />
            <b-input
              v-model="payload.password2"
              field-type="password"
              :max-length="50"
              name="password confirm"
              label="Password confirm"
              required
              :errors="errors && errors.password"
              @keypress.enter="handleRegister"
            />
            <b-button
              class="is-success"
              label="Register"
              type="submit"
              @click="handleRegister()"
            />
          </template>
        </b-form>
      </section>
      <a
        @click="changeForm"
      >
        I already have my account
      </a>
    </template>
    <footer>
      Made by Groupe E
    </footer>
  </div>
</template>

<style scoped src="@/assets/css/views/logxview.css"/>