<script>

export default {
  name: "ProfileView",
  inject: ['$store', '$api'],
  computed: {
    userStore: function () {
      return this.$store.getStoreByName('user')
    }
  },
  data: () => {
    return {
      user: null,
      payload: {
        username: '',
        password: '',
        confirmPassword: ''
      },
      errors: {}
    }
  },
  mounted() {
    this.user = this.userStore.user;
    this.payload.username = this.user.username;
  },
  methods: {
    passwordMinStrengh(string) {
      const lowerRegex = '[a-z]';
      return string.match(lowerRegex) !== null;
    },
    passwordMaxStrengh(string) {
      const upperRegex = '[A-Z]';
      return string.match(upperRegex) !== null;
    },
    passwordNumberStrengh(string) {
      const numberRegex = '[0-9]';
      return string.match(numberRegex) !== null;
    },
    passwordSpecialStrengh(string) {
      const specialRegex = '[#?!@$%^&*-]';
      return string.match(specialRegex) !== null;
    },
    passwordLengthStrengh(string) {
      return string.length < 12;
    },
    updateCredentials() {
      this.errors = {};

      let username = this.payload.username.trim();
      let password = this.payload.password.trim();
      let confirmPassword = this.payload.confirmPassword.trim();
      let data = {};

      if (username !== '' && username.length < 6) {
        this.errors.username = 'Minimum 6 characters';
        return;
      }
      data.username = this.payload.username;

      if (password !== '' || confirmPassword !== '') {
        if (password !== confirmPassword) {
          this.errors.password = 'Passwords not match';
          return;
        }
        if (!this.passwordMinStrengh(password)) {
          this.errors.password = 'Password need a lowercase character';
          return;
        }
        if (!this.passwordMaxStrengh(password)) {
          this.errors.password = 'Password need an uppercase character';
          return;
        }
        if (!this.passwordNumberStrengh(password)) {
          this.errors.password = 'Password need a number character';
          return;
        }
        if (!this.passwordSpecialStrengh(password)) {
          this.errors.password = 'Password need a special character';
          return;
        }
        if (!this.passwordLengthStrengh(password)) {
          this.errors.password = 'Password need at least 8-30 characters';
          return;
        }
        data.password = password;
      }

      this.$api.user.editCredentials({
        token: localStorage.getItem('apiToken'),
        ...data
      }, this.user.id)
        .then(() => {
          this.userStore.checkAuth();
          this.$router.push({name: 'dashboard'})
        })
    }
  }
}
</script>

<template>
  <section>
    <b-form>
      <template #form>
        <b-input
          v-model="payload.username"
          field-type="text"
          :max-length="30"
          :min-length="2"
          :errors="errors && errors.username"
          label="Username"
          required
        />

        <b-input
          v-model="payload.password"
          field-type="password"
          :max-length="30"
          :min-length="8"
          :errors="errors && errors.password"
          label="Password"
        />

        <b-input
          v-model="payload.confirmPassword"
          field-type="password"
          :max-length="30"
          :min-length="8"
          :errors="errors && errors.password"
          label="Confirm password"
        />

        <b-button
          label="Modify"
          type="submit"
          @click="updateCredentials()"
          class="is-success"
        />
      </template>
    </b-form>
  </section>
</template>
