<script>
import {LEAFLET_DEFAULT_DATA} from "@/services/leaflet/default_data";

import DataTable from 'datatables.net-vue3';
import DataTablesCore from 'datatables.net';
import 'datatables.net-responsive';

DataTable.use(DataTablesCore);

export default {
  name: "StationView",
  components: {DataTable},
  data: function () {
    return {
      data: []
    }
  },
  computed: {
    tableOptions() {
      return {
        columns: [
          { title: 'ID' },
          { title: 'name' },
          { title: 'capacity' },
          { title: 'Bike available' },
          { title: 'Dock available' },
          { title: 'mechanical' },
          { title: 'ebike' },
          { title: 'lat.' },
          { title: 'lng.' },
          { title: 'station code' },
        ],
        pageLength: "50",
        scrollY: "70vh",
        // eslint-disable-next-line no-unused-vars
        rowCallback: (row, data, index) => {
          // Add color depending of the percentage capacity

          const totalCapacity = data[2]
          const availableBikes = data[3]
          const availableDoks = data[4]
          
          let percentageAvaibleBike = (availableBikes / totalCapacity) * 100 
          let percentageAvaibleDocks = (availableDoks / totalCapacity) * 100 
          
          const percentageAvailableItems = [
            {
              percentage: percentageAvaibleBike,
              cell: row.cells[3]
            },
            {
              percentage: percentageAvaibleDocks,
              cell: row.cells[4]
            } 
          ]

          for (const item of percentageAvailableItems){

              item.cell.style["font-weight"] = "bold"
              
              if (item.percentage < 33) {
                item.cell.style.color = "red"
              } else if (item.percentage >= 33 && item.percentage <= 66) {
                item.cell.style.color = "orange"
              } else {
                item.cell.style.color = "green"
              }
          }
          
        }
      }
    }
  },
  async mounted() {
    // In real work we probably should make the request every 
    // X minutes and store data into json file
    let records = await this.getStations();

    records.forEach((record, index) => {
      this.data.push([
        index + 1,
        record.fields.name,
        record.fields.capacity,
        record.fields.numbikesavailable,
        record.fields.numdocksavailable,
        record.fields.mechanical,
        record.fields.ebike,
        record.fields.coordonnees_geo[0],
        record.fields.coordonnees_geo[1],
        record.fields.stationcode
      ]);
    })
  },
  methods: {
    /**
     * Return all stations
     * @returns 
     */
    async getStations(){
        const dataUrl = 'https://opendata.paris.fr/api/records/1.0/search/?dataset=velib-disponibilite-en-temps-reel&q=&rows=10000&facet=name&facet=is_installed&facet=is_renting&facet=is_returning&facet=nom_arrondissement_communes&refine.is_installed=OUI';
        // The api of https://opendata.paris.fr is not stable
        // During dev i've got somes troubles
        // So we return default data in case of
        return await fetch(dataUrl, {
            method: 'GET',
            headers: new Headers()
        })
        .then((res) => res.json())
        .then((res) => res.records)
        .catch(() => LEAFLET_DEFAULT_DATA.records)
    }
  }

}
</script>

<template>
  <section>
    <DataTable
      :data="data"
      class="table table-hover table-striped"
      width="100%"
      :options="tableOptions"
    />
  </section>
</template>

<style src="datatables.net-dt/css/jquery.dataTables.css"></style>
<style src="datatables.net-responsive-dt/css/responsive.dataTables.css"></style>
