.profile {
    position: relative;
    cursor: pointer;
    user-select: none;
}

.profile .icons:hover svg,
.profile .icons:hover span {
    fill: var(--primary-color);
    color: var(--primary-color);
}

.profile .icons svg {
    width: 32px;
}

.profile .icons svg#arrow-display {
    width: 18px;
}

.profile .icons {
    display: flex;
    align-items: center;
}

.profile .icons span {
    margin-right: 10px;
}

/* UGLY ! */
.settings {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-between;
    position: absolute;
    background-color: white;
    left: -22px;
    width: 132px;
    height: 80px;
    border-radius: 4px;
    border: 1px solid black;
    z-index: 1;
}

.settings span:hover {
    color: var(--primary-color);
}

#logoff {
    padding: 1rem 0 0 0;
    border-top: var(--border);
}