<script>
import ProfileCircle from '@/assets/svg/ProfileCircle.vue';
import ArrowUp from '@/assets/svg/ArrowUp.vue';
import ArrowDown from '@/assets/svg/ArrowDown.vue';

export default {
  name: "TopBar",
  inject: ["$store"],
  components:{
    ProfileCircle,
    ArrowUp,
    ArrowDown
  },
  computed: {
    userStore: function() { return this.$store.getStoreByName("user") },
    livedataStore: function() { return this.$store.getStoreByName("livedata") },
    user: function() { return this.userStore.user },
  },
  data: function() {
    return {
      isOpen: false
    }
  },
  watch: {
    /**
     * Create / Removes event listener for outside click
     * @param {*} newValue 
     */
    isOpen(newValue) {
      if(newValue) {
        window.addEventListener('click', this.createOutsideClickListener)
      } else {
        window.removeEventListener('click', this.createOutsideClickListener)
      }
    }
  },
  mounted: function(){
    // Set the view depending of the route name
    this.livedataStore.setViewName(this.$route.name)
  },
  methods: {
    /**
     * Open menu
     */
    openMenu: function() {
      this.isOpen = !this.isOpen
    },
    /**
     * Creates Outside click listener
     * To close the option when the click is outside of it
     * @param {*} e 
     */
    createOutsideClickListener(e) {
      if (e.target == this.$refs.profile || e.composedPath().includes(this.$refs.profile)) {
        // We clicked inside the modal/active region
        return
      }
      this.isOpen = false
    },
    /**
     * dispatch logout from the user store
     */
    logOut: function() {
      this.userStore.logOut({
        "token": localStorage.getItem("apiToken")
      })
    },
    /**
     * go to profile view
     */
    settings: function() {
      this.$router.push({name: 'settings'})
    }
  }
}
</script>

<template>
  <div
    ref="profile"
    class="profile"
    @click="openMenu"
  >
    <div class="icons">
      <span>{{ user.username }}</span>
      <ProfileCircle />
      <template v-if="isOpen">
        <ArrowUp id="arrow-display" />
      </template>
      <template v-else>
        <ArrowDown id="arrow-display" />
      </template>
    </div>
    <div
      v-if="isOpen"
      class="settings"
    >
      <span @click="settings">
        Settings
      </span>
      <span 
        id="logoff"
        @click="logOut"
      >
        Log off
      </span>
    </div>
  </div>
</template>

<style scoped src="@/assets/css/header/topbar.css" />