:root {
  --primary-color: #1388e9;
  --text-color: #bfbfc1;
  --border: 1px solid #f2f2f2;
  --body-color: #fefefe;
  --left-menu: 12%;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

/* MARGIN */
.ml-1 {margin-left: 5px;}
.ml-2 {margin-left: 10px;}
.ml-3 {margin-left: 15px;}
.ml-4 {margin-left: 20px;}

.mr-1 {margin-right: 5px;}
.mr-2 {margin-right: 10px;}
.mr-3 {margin-right: 15px;}
.mr-4 {margin-right: 20px;}

.mt-1 {margin-top: 5px;}
.mt-2 {margin-top: 10px;}
.mt-3 {margin-top: 15px;}
.mt-4 {margin-top: 20px;}

.mb-1 {margin-bottom: 5px;}
.mb-2 {margin-bottom: 10px;}
.mb-3 {margin-bottom: 15px;}
.mb-4 {margin-bottom: 20px;}

/* PADDING */
.pl-1 {padding-left: 5px;}
.pl-2 {padding-left: 10px;}
.pl-3 {padding-left: 15px;}
.pl-4 {padding-left: 20px;}

.pr-1 {padding-right: 5px;}
.pr-2 {padding-right: 10px;}
.pr-3 {padding-right: 15px;}
.pr-4 {padding-right: 20px;}

.pt-1 {padding-top: 5px;}
.pt-2 {padding-top: 10px;}
.pt-3 {padding-top: 15px;}
.pt-4 {padding-top: 20px;}

.pb-1 {padding-bottom: 5px;}
.pb-2 {padding-bottom: 10px;}
.pb-3 {padding-bottom: 15px;}
.pb-4 {padding-bottom: 20px;}


