@import './base.css';

/* RESET */

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

html {
    font-size: 12px;
    line-height: 1.3rem;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.2rem;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: #222;
    user-select: none;
}

svg {
    width: 22px;
}


#app {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#app>main {
    display: flex;
}

#app>main>.container {
    flex-grow: 1;
    background-color: var(--body-color);
}

.container > header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 3rem;
    align-items: center;
    border-bottom: var(--border);
}

.container > header > h2 {
    text-transform: capitalize;
}

.body {
    margin: 3rem;
}

/* UGLY usefull have all inputs with the same style */
input {
    border: 1px solid #d2d1d1 !important;
}