<script>
import LogxView from '@/views/LogxView.vue'
import storeConf from '@/store'
import LeftMenu from '@/components/menu/LeftMenu.vue'
import TopBar from '@/components/header/TopBar.vue'

import { inject, provide } from "vue"

export default {
  name: "MainApp",
  components: {
    LeftMenu,
    TopBar,
    LogxView
  },
  setup() {
    // Inits all endpoints for each store modules
    const api = inject('$api')
    const pdf = inject('$pdf')
    
    const store = new storeConf.Store(storeConf.initStoreModels(api, pdf))
    provide('$store', store)
    
    return { api, pdf, store }
  },
  computed: {
    userStore: function() { return this.store.getStoreByName('user') },
    itineraryStore: function() { return this.store.getStoreByName('itinerary') },
    livedataStore: function() { return this.store.getStoreByName('livedata') },
    isAuthenticated: function() { return this.userStore.isAuthenticated },
    currentView: function() { return this.livedataStore.currentView },
    isAppReady: function() { return this.livedataStore.isAppReady },
    storeLoaded: function () {
      if (this.isAuthenticated) {
        this.initStores()
      }
      return true
    },
  },
  async created() {
    await this.initApp()
  },
  methods: {
    initApp: async function () {
      window.document.title = "Velibs Itinerary"
      //------- AUTH --------
      await this.userStore.checkAuth()
    },
    initStores: async function() {
      await Promise.all([
        this.itineraryStore.search()
      ])
      .then(() => {
        this.livedataStore.setAppReady(true)
      })
    }
  }
}
</script>

<template>
  <template v-if="isAuthenticated">
    <main>
    <LeftMenu />
    <div class="container">
      <header>
        <h2>{{ currentView }}</h2>
        <TopBar />
      </header>
      <div class="body">
        <RouterView v-if="storeLoaded && isAppReady"/>
        <template v-if="!isAppReady">
          <BLoader class="loading" />
        </template>
      </div>
    </div>
  </main>
  </template>
  <template v-else>
    <LogxView />
  </template>
</template>

<style scoped>
</style>
