.logx-container {
    display: flex;
    flex-direction: column;
    margin: 15rem 50rem;
    align-items: center;
    justify-content: space-between;
    height: 30%;
}

.logx-container h1 {
    flex-basis: 50%;
    font-size: 32px;
    font-weight: bold;
    width: max-content;
    user-select: none;
    margin-bottom: 30px;
}

.error {
    color: red;
    margin-bottom: 1rem;
}

.form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 25rem;
}

.create {
    margin-top: 25px;
}

.logx-container a {
    padding-top: 10px;
    color: var(--primary-color);
    cursor: pointer;
    width: max-content;
}

.logx-container a:hover {
    color: blue;
}

footer {
    position: absolute;
    bottom: 15px;
    color: var(--text-color)
}